
@{
    Layout = null;
}
<li class="active" id="panel1">
    <a href="#a-detail" data-toggle="tab">
        <div class="tab-align">
            <div class="tab-heading-content">
                <p>Applicant Details</p>
                <small>Lorem ipsume is simply dymmy</small>
            </div>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
    </a>
</li>
<li id="panel2" class="lidisabled">
    <a href="#a-form" onclick="LoadTravelDetails()" data-toggle="tab">
        <div class="tab-align">
            <div class="tab-heading-content">
                <p>Application Form</p>
                <small>Lorem ipsume is simply dymmy</small>
            </div>
            <span class="
            glyphicon glyphicon-envelope
            form-control-feedback
            "></span>
        </div>
    </a>
</li>
<li id="panel3" class="lidisabled">
    <a href="#a-pdf" data-toggle="tab">
        <div class="tab-align">
            <div class="tab-heading-content">
                <p>Document PDF</p>
                <small>Lorem ipsume is simply dymmy</small>
            </div>
            <span class="
            glyphicon glyphicon-envelope
            form-control-feedback
            "></span>
        </div>
    </a>
</li>
<li id="panel4" class="lidisabled">
    <a href="#a-upload-doc" onclick="LoadDocumentDetails()" data-toggle="tab">
        <div class="tab-align">
            <div class="tab-heading-content">
                <p>Upload Document </p>
                <small>Lorem ipsume is simply dymmy</small>
            </div>
            <span class="
            glyphicon glyphicon-envelope
            form-control-feedback
            "></span>
        </div>
    </a>
</li>
<li id="panel5" class="lidisabled">
    <a href="#a-verification" onclick="LoadDocumentVerification()" data-toggle="tab">
        <div class="tab-align">
            <div class="tab-heading-content">
                <p>Verification</p>
                <small>Lorem ipsume is simply dymmy</small>
            </div>
            <span class="
            glyphicon glyphicon-envelope
            form-control-feedback
            "></span>
        </div>
    </a>
</li>
<li id="panel6" class="lidisabled">
    <a href="#a-confirmation" onclick="LoadDocumentConfirmation()" data-toggle="tab">
        <div class="tab-align">
            <div class="tab-heading-content">
                <p>Confirmation</p>
                <small>Lorem ipsume is simply dymmy</small>
            </div>
            <span class="
            glyphicon glyphicon-envelope
            form-control-feedback
            "></span>
        </div>
    </a>
</li>