
@{
    ViewBag.Title = "UploadDocument";
    Layout = null;
}
<div class="tab-content-wrapper">
    <small>Step 4/5</small>
    <div class="add-participent-content">
        <small>
            <span class="glyphicon glyphicon-info-sign"></span>
            Note - Every document should have atleast 1mb.
        </small>
    </div>
    <div class="row m-3">
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <p>
                        Document <span class="glyphicon glyphicon-info-sign"></span>
                    </p>
                    <button class="btn-border-org">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>